* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.header {
    background-color: #1f2937;
    padding: 12px 300px 125px;
}
.mainnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.mainnav > ul{
    list-style-type: none;
    display: flex;
    gap: 35px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.item > h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
}
.item > p{
    font-size: 18px;
    color: #e5e7eb;
}
.item > button{
    background-color: #3882f6;
    border: none;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 18px;
    margin-top: 12px;
    padding: 9px 16px;
    border-radius: 12px;
}
a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}
.container-main{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    padding-bottom: 120px;
    align-items: center;
    gap: 60px;
}
.main-item{
    width: 190px;

}
.main-item > p{
    font-weight: bold;
}
.main-item > button{
    background-color: #3882f6;
    border: none;
    color: #e5e7eb;
    font-weight: 500;
    font-size: 18px;
    margin-top: 6px;
    padding: 5px 12px;
    border-radius: 12px;
}
.main-item > img{
    border: 3px solid #3882f6;  
}
.testimonial{
    margin: auto;
    padding: 120px 400px;
    background-color: #e5e7eb;
}
.quote{
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}
.name{
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}
.signup-box{
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    color: #e5e7eb;
    margin: 80px 300px ;
    padding: 30px 100px;
    border-radius: 12px;
}
.signup-box > button{
    background-color: #3882f6;
    border-color: #F9FAF8;
    border-style: solid;
    color: #e5e7eb;
    font-weight: 500;
    font-size: 18px;
    margin-top: 6px;
    padding: 0px 42px;
    border-radius: 12px;
}

footer{
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 25px;
    text-align: center;
}