* {
    margin: 0;
}
.header {
    background-color: #1f2937;
    padding: 12px 300px 125px;
}
.mainnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.mainnav > ul{
    list-style-type: none;
    display: flex;
    gap: 35px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.item > h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
}
.item > p{
    font-size: 18px;
    color: #e5e7eb;
}
.item > button{
    background-color: #3882f6;
    border: none;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 18px;
    margin-top: 12px;
    padding: 9px 16px;
    border-radius: 12px;
}
a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}